@font-face {
    font-family: "mont";
    src: url("/assets/Montserrat-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "roboto";
    src: url("/assets/Roboto-Regular.ttf") format("truetype"); 
}
body{
    margin: 0;
    padding: 0;
}
nav{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 15px 40px;
    text-wrap: wrap;
}
.logo{
    font-family: "mont";
}
nav ul{
    flex-wrap: wrap;
    font-family: "mont";
    display: flex;
    justify-content: flex-end;
    list-style: none;
    gap: 20px;
}
hr{
    width: 100%;
}




